* {
  transition: all 1s;
  box-sizing: border-box;
}
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.justify-content-between {
  justify-content: space-between;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.column-gap-3 {
  column-gap: 30px;
}
.text-success {
    color: #619237;
}
.text-white {
  color:#fff;
}
.align-items-center {
    align-items: center;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-decoration-none {
    text-decoration: none;
}
.list-unstyled {
    list-style: none;
}
.d-inline-block {
  display: inline-block;
}
.sticky-top {
  position:sticky;
  top: 0;
}
.bg-white {
  background-color: white;
}
.bg-warning {
  background-color: tomato;
}
.shadow {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.125);
}
.p-5 {
  padding: 50px;
}
.py-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.mt-1 {
  margin-top: 10px;
}
.w-100 {
  width: 100%;
}
.form-control {
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.btn {
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
}
.btn-dark {
  background-color: #202020;
  color: white;
}
.fs-1 {
  font-size: 40px;
}
.fs-2 {
  font-size: 32px;
}
.fs-3 {
  font-size: 28px;
}
.fs-5 {
  font-size: 20px;
}