* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
header h1 {
  width: 128px;
  height: 128px;
  background-image: url('./img/logo.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-size: 0;
}
header nav > ul > li > a {
  color: #202020;
  padding: 35px 0;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: white;
}
header nav > ul > li > a:hover {
  border-top-color: tomato;
}
.hero {
  background-image: url('./img/section1-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

